
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a vaultwarden instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman vaultwarden-app.service
BindsTo=vaultwarden.service
After=vaultwarden.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/vaultwarden-app.pid %t/vaultwarden-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/vaultwarden-app.pid \
    --cidfile %t/vaultwarden-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/vaultwarden.pod-id --replace -d --name  vaultwarden-app \
    --volume vaultwarden-data:/data:Z \
    --env-file=smarthost.env \
    --env=vaultwarden_* \
    --env USE_SENDMAIL=false \
    --env ADMIN_TOKEN=${ADMIN_TOKEN} \
    --env SMTP_HOST=${SMTP_HOST} \
    --env SMTP_FROM=${SMTP_FROM} \
    --env SMTP_SECURITY=${SMTP_ENCRYPTION} \
    --env SMTP_PORT=${SMTP_PORT} \
    --env SMTP_USERNAME=${SMTP_USERNAME} \
    --env SMTP_PASSWORD=${SMTP_PASSWORD} \
    --env LOG_FILE=/data/vaultwarden.log \
    --env WEBSOCKET_ENABLED=true \
    ${SERVER_IMAGE}
    #    --env SENDMAIL_COMMAND=/usr/sbin/sendmail \

#ExecStartPost=/usr/bin/bash -c "while ! /usr/bin/podman exec vaultwarden-app /usr/bin/curl  http://127.0.0.1:80/vaultwarden ; do sleep 3 ; done"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/vaultwarden-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP vaultwarden-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/vaultwarden-app.ctr-id
PIDFile=%t/vaultwarden-app.pid
Type=forking

[Install]
WantedBy=default.target